/*************
 General STYLING
*************/
body {
  background-color: #E6EBE0;
}

/*************
 Connect Body STYLING
*************/
#connectPage {
  display: block;
  text-align: center;
}

input, textarea {
  border: 2px solid #CCC;
  margin: 0px;
  resize: none
}

button {
  margin: 10px;
  width: 200px;
}

#logo {
  margin-left: 47%;
  width: 100px;
  height: 100px;
}

#ip {
  line-height: 20px
}

#port {
  line-height: 20px
}

#p1id {
  line-height: 20px
}

#p2id {
  line-height: 20px
}

#body {
  max-width: 500px;
  margin: auto
}

#log {
  width: 50%;
  height: 300px
}

#message {
  width: 50%;
  line-height: 20px
}

/*************
 Snake Game STYLING
*************/
#snakePage {
  display: none;
  text-align: center;
}

#realTime {
  height: 15px;
  width: 150px;
  resize: none
}

.snakes {
  display: none;
}
